{{! 分类设置表单}}

<!-- 新增分类 注意id：addClassifyForm与组建类关联了 -->
<div class="modal fade" id="addClassifyForm" tabindex="9999" role="dialog" aria-labelledby="addModalLabel">
  <form {{action 'addClassify' on='submit'}} id="addClassifyForm">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addModalLabel" style="text-align: center; font-weight: bold;">新增分类</h4>
      </div>
      <div class="modal-body" style="padding: 0 15px;">
          <div class="form-group">
            {{input type="text" class="form-control" id="classifyName"
                value=projName placeholder="分类名称" onblur="setCode(this)"}}
            {{input type="hidden" value=projCode id="projCode"}}
          </div>
          <!-- <div class="form-group">
            <input type="text" class="form-control" id="recipient-name">
          </div> -->
      </div>
      <div class="modal-footer" style="padding: 10px 15px;">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-sm btn-greensea">保存</button>
      </div>
    </div>
  </div>
</form>
</div>


<!-- 新增分类 注意id：addClassifyForm与组建类关联了 -->
<div class="modal fade" id="editClassifyForm" tabindex="9999" role="dialog" aria-labelledby="editModalLabel">
  <form {{action 'addClassify' on='submit'}} id="addClassifyForm">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editModalLabel" style="text-align: center; font-weight: bold;">编辑分类</h4>
      </div>
      <div class="modal-body" style="padding: 0 15px;">
          <div class="form-group">
            {{input type="text" class="form-control" id="classifyName"
                value=classify.projName placeholder="分类名称"}}

            {{input type="hidden" value=classify.projCode id="projCode"}}
          </div>
          <!-- <div class="form-group">
            <input type="text" class="form-control" id="recipient-name">
          </div> -->
      </div>
      <div class="modal-footer" style="padding: 10px 15px;">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-sm btn-greensea">保存</button>
      </div>
    </div>
  </div>
</form>
</div>
