<!--  左侧菜单  -->

{{!yield}}

<li class="collapsed-content">
  <ul>
    <li class="search"><!-- Collapsed search pasting here at 768px --></li>
  </ul>
</li>

<li class="navigation" id="navigation">
  <a href="#" class="sidebar-toggle" data-toggle="#navigation">分类
      <!-- 点击加号弹出一个表单，用于增加分类，由于弹出层的原因放在index.hbs才不会被遮盖 -->
  <i class="fa fa-plus" data-toggle="modal" data-target="#addClassifyForm"></i></a>

  <ul class="menu">

    {{#each projects as |item|}}
        <li class="li-selector">
          <a href="{{__BASEURL__}}#?proj=trip" onclick="setIcon(this)">
            <i class="fa fa-list" {{action 'toEditClassify' item.id}}></i> {{item.projName}}
            <span class="badge badge-success" style="margin-right: 30px;">{{completedTodoCount}}</span>
            <span class="badge badge-transparent-black">{{todoTotlaCount}}</span>
          </a>
        </li>
    {{/each}}

  </ul>

</li>
