{{! 右侧面板}}

<div class="right-panel" id="right-panel-id" style="display: block;">
{{#link-to 'todoitems'}}
    <span class="glyphicon glyphicon-remove right-panel-close-btn"
        title="关闭设置面板" onmouseover="addRotate(this)" onmouseout="removeRotate(this)"></span>
{{/link-to}}
<div class="divider"></div>
<form>
    <div class="form-group">
        {{#if editing}}
            <div contenteditable="true" id="edit-todo-title-div" ondblclick={{action 'setEditingStatus'}}>{{todoTitleValue}}</div>
        {{else}}
            <textarea class="form-control" rows="3" id="edit-todo-title" onblur={{action 'setEditingStatus'}}>{{todoTitleValue}}</textarea>
        {{/if}}
    </div>
    <div class="divider common-divider"></div>
  <div class="form-group">
    <label for="startDate">起止日期</label>
    <div class="row">
        <input type="text" class="form-control todo-date todo-start-date"
            placeholder="开始日期" readonly onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"
            onblur={{action 'setStartDateById' value="target.value"}} value={{startDate}}>
        <font class="data-divider-flag">~</font>
        <input type="text" class="form-control todo-date todo-end-date"
            placeholder="结束日期" readonly onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"
            onblur={{action 'setEndDateById' value="target.value"}} value={{endDate}}>
    </div>
  </div>
  <div class="form-group">
    <label for="subTodo">子任务</label>
    {{input type="text" class="form-control" id="subTodoItem" placeholder="新增子TODO项……" value=subTodo enter="saveSubTodo"}}
  </div>

  <!-- {{#sub-todo-item store=store}}{{/sub-todo-item}} -->
  {{! 子TODO 在点击显示的时候在代码中手动渲染到这个div上}}
  <div class="sub-todo" id="sub-todo-list">
      <ul class="nolisttypes" id="subTodolist">
      </ul>
  </div>

  <div class="form-group">
    <label for="">备注</label>
    <textarea class="form-control" rows="5" id="edit-todo-remark"></textarea>
  </div>

</form>
<div class="divider common-divider" style="bottom: 5px !important;"></div>
<div>
    评论的内容显示区域
</div>

<div class="divider"></div>

<div class="form-group-comment">
    <input type="text" class="form-control todo-comment-style" id="todo-comment" placeholder="添加评论">
</div>

<button type="buttons" class="btn btn-default btn-xs right-panel-right-btn" {{action 'toggleShowRightPanel'}}>
    <span class="glyphicon glyphicon-menu-right" style="top: 2px;"></span>
</button>

<button type="buttons" class="btn btn-danger btn-xs right-panel-del-btn">删除本任务</button>
</div>

<script type="text/javascript">
function getValue(self) {
    console.log('xxxxxx');
    console.log($(self).val());
}
</script>
