
  <!-- Wrap all page content here -->
  <div id="wrap">


    <!-- Make page fluid -->
    <div class="row">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top"
       role="navigation" id="navbar">

        <!-- APP logo信息 -->
        {{#logo-tag}}{{/logo-tag}}
        <!-- Branding end -->

        <!-- .nav-collapse -->
        <div class="navbar-collapse">
                      
          <!-- 顶部刷新页面按钮 -->
          {{#refresh-self}}{{/refresh-self}}

          <!-- Search -->
          <div class="search" id="main-search">
            <i class="fa fa-search"></i> {{input type="text" placeholder="Search..." value=queryValue}}
          </div>
          <!-- Search end -->

          <!-- 右上角消息提示工具栏 -->
          {{#tip-msg}}{{/tip-msg}}

          <!-- 左侧菜单栏 -->
          <ul class="nav navbar-nav side-nav" id="sidebar">
              
            <li class="collapsed-content"> 
              <ul>
                <li class="search"><!-- Collapsed search pasting here at 768px --></li>
              </ul>
            </li>

            <li class="navigation" id="navigation">
              <a href="#" class="sidebar-toggle" data-toggle="#navigation">项目 
              <i class="fa fa-angle-up"></i></a>
              
              <ul class="menu">
                
                <li>
                  <a href="/">
                    <i class="fa fa-tachometer"></i> 项目一
<<<<<<< HEAD
                    <span class="badge badge-success" style="margin-right: 30px;">{{completedTodoCount}}</span>
=======
                    <span class="badge badge-success" style="margin-right: 30px;">{{noCompletedTodoCount}}</span>
>>>>>>> origin/master
                    <span class="badge badge-transparent-black">{{todoTotlaCount}}</span>
                  </a>
                  
                </li>

                <li class="">
                  <a href="#">
                    <i class="fa fa-tachometer"></i> 项目二
                    <span class="badge badge-success" style="margin-right: 30px;">2</span>
                    <span class="badge badge-transparent-black">32</span>
                  </a>
                </li>

                <li>
                  <a href="/">
                    <i class="fa fa-tint"></i> 项目三
                    <span class="badge badge-success" style="margin-right: 30px;">12</span>
                    <span class="badge badge-transparent-black">65</span>
                  </a>
                  
                </li>

              </ul>

            </li>
            
          </ul>

        </div>
        <!--/.nav-collapse -->

      </div>
      <!-- Fixed navbar end -->


      <!-- 主要内容区（中间部分） -->
      <div id="content" class="col-md-12">

<<<<<<< HEAD
      <div class="main">
=======
        <div class="main">
>>>>>>> origin/master
        <!-- row -->
        <div class="row">

        <!-- /col 6 -->
        <div class="col-md-12">
        
            <!-- tile -->
            <section class="tile transparent">
              <!-- tile body -->
              <div class="tile-body color transparent-black rounded-bottom-corners">
                {{input type="text" placeholder="新增todo项……" class="w100p h50p bottommargin" 
                  style="height: 40px; font-size: 16px;" value=title enter="createNewTodoItem" }}

                <ul class="nolisttypes" id="todolist">
                  
<<<<<<< HEAD
                  {{#each orderByStarStatusFromList as |item|}}
=======
                  {{#each model as |item|}}
>>>>>>> origin/master
                  <li class="show-todos-list-style" 
                    onmouseover="showToolsIcon(this)"
                    onmouseout="hideToolsIcon(this)">
                    <div class="check-transparent" style="position: relative;">
                      <span class="todo-list-ok-wc" onclick={{action "completedTodoItem" item.id}}>
                        <span class="glyphicon glyphicon-ok {{if item.checked 'todo-list-ok-btn-checked' 'todo-list-ok-btn'}}"></span>
                      </span>
                      <label class="{{if item.checked 'label-font-style-checked' 'label-font-style'}}" 
                       onclick={{action "completedTodoItem" item.id}}>
                      {{item.title}}
                      </label>

<<<<<<< HEAD
                      <span class="glyphicon glyphicon-star todo-list-common todo-list-star {{if item.star 'todo-list-star-ed' 'todo-list-star'}}" 
                      onclick={{action "changeStarStatus" item.id}}></span>
=======
                      <span class="glyphicon glyphicon-star todo-list-common todo-list-star" 
                        onclick="setStar(this)"></span>
>>>>>>> origin/master
                      
                      <span class="glyphicon glyphicon-pencil todo-list-common todo-list-edit"
                       onclick="toggleShowRightPanel()">
                      </span>

                      <span class="glyphicon glyphicon-remove todo-list-common todo-list-destroy"></span>
                    </div>
                  </li>
                  {{/each}}
                
                </ul>
<<<<<<< HEAD

                <ul>
                  <span class="filter-tools-commen {{if showAll 'filter-tools-active'}}" 
                    onclick={{action 'showByCondition' 'all'}}>所有({{todoTotlaCount}})</span>

                  <span class="filter-tools-commen {{if showNCAll 'filter-tools-active'}}" 
                    onclick={{action 'showByCondition' 'noCompleted'}}>未完成({{noCompletedTodoCount}})</span>
                  
                  <span class="filter-tools-commen {{if showCAll 'filter-tools-active'}}" 
                    onclick={{action 'showByCondition' 'completed'}}>已完成({{completedTodoCount}})</span>

                  <span class="filter-tools-commen filter-tools-trash">
                  <span class="glyphicon glyphicon-trash"></span>
                  回收站
                  </span>
                </ul>
=======
>>>>>>> origin/master
              </div>
              <!-- /tile body -->
            </section>
              
        </div> <!-- /col 6 -->
        </div>  <!-- /row -->
        </div>  <!-- /main -->
      </div>  <!--  /content -->

      <!-- 右侧设置todo项详细信息面板 -->
      
      {{#right-item-panel}}{{/right-item-panel}}


    </div>
    <!-- Make page fluid-->


  </div>
  <!-- Wrap all page content end -->

